/* Importing Bootstrap SCSS file. */
@use "bootstrap/scss/bootstrap";

body {
  font-family: sans-serif;
}

.common-form {
  display: flex;
  margin: auto;
  max-width: 300px;
  flex-direction: column;
  gap: 15px;
}
.form-input {
  height: 35px;
  padding-left: 10px;
  color: blueviolet;
  border: 1px solid blueviolet;
  &.error {
    border-color: #dc3545;
  }

  &.success {
    border-color: #28a745;
  }
}
.form-btn {
  height: 35px;
  color: blueviolet;
  border: 1px solid blueviolet;
  font-size: 16px;
  cursor: pointer;
}

.form-btn:disabled{
  cursor: not-allowed;
}

.error-p, .input-error {
  color: red;
  font-size: 12px;
  margin: 0px;
}

.message-p {
  color: green;
  font-size: 14px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  padding: 20px;
  border-radius: 5px;
}
