body{
    font-family: sans-serif;
}
.custom-container{
    margin-left: 5%;
    margin-right: 5%
}

.common-form {
    display: flex;
    margin: auto;
    max-width: 300px;
    flex-direction: column;
    gap: 15px;
}
.form-input {
    height: 35px;
    padding-left: 10px;
    color: blueviolet;
    border: 1px solid blueviolet;
}
 .form-btn {
      height: 35px;
      color: blueviolet;
      border: 1px solid blueviolet;
      font-size: 16px;
      cursor: pointer;
  }

  .error-p{
    color:red;
    font-size: 14px;;
  }

  .message-p{
    color: green;
    font-size: 14px;
  }